:root{
    --light-grey: #333333;   
    --nav-bg-color:white; 
    --button-bg-color: #7843E9;
    --light-white: #fafafa;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}
.navigation-container{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
}
.navigation-main{
    display: flex;
    justify-content: space-between;    
    background-color:var(--nav-bg-color);    
    height: 14vh;    
    position: sticky;
    top:0 ;    
}
@media only screen and (max-width:765px){
    .navigation-main{
        height: 7vh;
    }    
}

.navigation-main span{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.navigation-head-text a{
    text-decoration: none;
    color: var(--light-grey);
    letter-spacing: 2px;
    text-transform:uppercase;
    font-size: 20px;
    font-weight: 650;   
}
.navigation-content{
    display: flex;
    justify-content: center;
}
.navigation-main-links{
    
    list-style: none;
    display: flex;
    align-items: center;    
}
@media only screen and (max-width:765px){
    .navigation-main-links{
        display: none;
    }    
}
.link{
    margin-right: 4.3rem;   
    font-weight: 650;   
    display: flex;
    align-items: center;
}
.link-link{
    text-decoration: none;
    color: var(--light-grey);
    text-transform: uppercase;
}
.ham-menu-container{
    display: none;
    width: 2rem;
    padding: 1.3rem 1rem;
}
@media only screen and (max-width:765px) {
    .ham-menu-container{
        display: block;
    }   
}
.ham-menu{
    width: 100%;
}
.ham-menu-close{
    width: 100%;
}
.dis-none{
    display: none;
}
.home-container{
    margin-top: 5rem;
    height: 100vh;   
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;       
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("assets/common-bg.svg");
        
}
@media only screen and (max-width:790px) {
    .home-container{
        margin-top: 0;      
    }   
}
.home-heading-text{
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 2px;
}
@media only screen and (max-width:990px) {    
    .home-heading-text{
        font-size: 3rem;
        text-align: center;        
    }    
}
.home-para{
    margin-top: 2.4rem;
    font-size: 1.4rem;
    max-width: 54vw;
    text-align: center;
    line-height: 1.6;
    color: var(--light-grey);
}
@media only screen and (max-width:1270px){
    .home-para{
        max-width: 64vw;
        font-size: 1rem;
    }
}
.home-button{
    margin-top: 3rem;
    background-color: var(--button-bg-color);
    padding: 1.1rem 5.2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}
.home-button-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:650;
}
#aboutme{
    background-color: var(--light-white);
}
.aboutme-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
}
.aboutme-heading-text{
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.aboutme-heading-para{
    margin-top: 2.4rem;
    max-width: 61vw;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.6;
    color: var(--light-grey);
}

